footer {
  background-color: var(--light-tertiary-color);
}

footer .footer__content {
  text-align: center;
  padding: 6rem 2rem 1rem;
  max-width: 47rem;
}

footer .footer__content .footer__contact span {
  display: block;
  font-weight: 500;
}

footer .footer__content ul li {
  display: inline-block;
}

footer .footer__content ul li {
  font-size: 5rem;
  font-family: louis;
}

footer .footer__content ul a img {
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
}


footer .footer__content .footer__copyright {
  font-size: 1.4rem;
}